.clearfix:after
{
    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '.';
}
* html .clearfix
{
    height: 1%;
}
*:first-child + html .clearfix
{
    min-height: 1%;
}
ul li.expanded
{
    list-style-type: square;
}
li.expanded,
li.collapsed,
li.leaf
{
    margin: 0;
    padding: .2em .5em 0 0;
}
li a.active
{
    color: #000;
}
td.menu-disabled
{
    background: #ccc;
}
ul.inline,
ul.links.inline
{
    display: inline;

    padding-left: 0;
}
ul.inline li
{
    display: inline;

    padding: 0 .5em;

    list-style-type: none;
}
.breadcrumb
{
    padding-bottom: .5em;
}
fieldset
{
    margin-bottom: 1em;
    padding: .5em;
}
form
{
    margin: 0;
    padding: 0;
}
hr
{
    height: 1px;

    border: 1px solid gray;
}
img
{
    border: 0;
}
table
{
    border-collapse: collapse;
}
th
{
    padding-right: 1em;

    text-align: left;

    border-bottom: 3px solid #ccc;
}
tbody
{
    border-top: 1px solid #ccc;
}
tr.even,
tr.odd
{
    padding: .1em .6em;

    border-bottom: 1px solid #ccc;
    background-color: #eee;
}
th.active img
{
    display: inline;
}
td.active
{
    background-color: #ddd;
}
.item-list .title
{
    font-weight: bold;
}
.item-list ul
{
    margin: 0 0 .75em 0;
    padding: 0;
}
.item-list ul li
{
    margin: 0 0 .25em 1.5em;
    padding: 0;
}
.more-link
{
    text-align: right;
}
.more-help-link
{
    text-align: right;
}
#content,
#sidebar-first,
#sidebar-second
{
    position: relative;

    display: inline;
    float: left;
}
#main
{
    position: relative;

    clear: both;

    width: 98%;
    margin: 0 auto;
}
.section
{
    margin: 10px;
}
body
{
    margin: 0;

    background: url(courts-justice.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;

        filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src=\'myBackground.jpg\',sizingMethod=\'scale\')';
}
#header .section
{
    margin: 0;
    padding: 5px 20px 0;

    color: #004626;
    background-color: #e9e9e9;
    background-color: rgba(233, 233, 233, .7);
    -webkit-box-shadow: -1px -1px 2px #999 inset;
       -moz-box-shadow: -1px -1px 2px #999 inset;
            box-shadow: -1px -1px 2px #999 inset;
}
#site-name {
  float: left;
  margin: 0.2em 0;
}
#site-name a
{
    font-weight: normal;

    color: #004626;
    text-shadow: 1px 1px 3px #999;
}
#site-name a
{
    font-family: 'Vollkorn';
    font-size: 1em;

    float: left;

    text-decoration: none;
}
#site-slogan
{
    font-family: 'Vollkorn';
    font-size: 1em;
    float: left;
    font-weight: bold;
    padding-bottom: 1em;
}
@media (min-width: 500px) {
  #site-name a {
    font-size: 1.5em;
  }
  #site-slogan {
    font-size: 1.5em;
  }
}
@media (min-width: 1210px) {
  #site-slogan {
    padding-top: 1.4em;
    margin-left: 1em;
    font-size: 1.2em;
  }
}
.view-solicitors ul
{
    width: auto;

    list-style: none;
}
.view-solicitors ul li.solicitor
{
    font-family: 'Lato', verdana, sans-serif;
    font-size: 1em;
    line-height: 1.6;

    float: left;
    width: 80%;
    margin: 0 1.5em 1.25em 0;
    padding: .8em;

    letter-spacing: .8;

    color: #414141;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background-color: #e9e9e9;
    background-color: rgba(233, 233, 233, .7);
    -webkit-box-shadow: 1px 1px 4px #004626;
       -moz-box-shadow: 1px 1px 4px #004626;
            box-shadow: 1px 1px 4px #004626;
}
@media (min-width: 500px) {
  width: 42%;
  min-height: 170px;
}
@media (min-width: 900px) {
    .view-solicitors ul li.solicitor
    {
        font-family: 'Lato', verdana, sans-serif;
        font-size: 1em;

        float: left;

        width: 240px;
        min-height: 170px;
        margin: 0 1.5em 1.25em 0;
        padding: .8em;

        color: #414141;
    }
}
.view-solicitors ul li.solicitor a
{
    word-wrap: break-word;

    color: #004626;
}
li.solicitor h2
{
    font-family: 'Vollkorn' serif;
    font-size: 1.4em;
    line-height: 1.1;

    margin: .1em 0 0;

    color: #004626;
    text-shadow: 1px 1px 2px #999;
}
h4
{
    line-height: 1.2;

    margin: 0 0 .4em;
}
li.solicitor h2 a
{
    text-decoration: none;

    color: #004626;
}
h2.title {
  display: none;
}
